{% extends "trove_base.html" %}

{% block title %}:: TROVE TASTE ::{% endblock %}

{% block myjs %}
<script type="text/javascript">
</script>
{% endblock myjs %}

{% block mycss %}
<style type="text/css">
    html {font-family: "DejaVu Sans",Verdana,serif;}
    html {background-color: #000;color: grey;font-weight: normal;}
    a {color:#fff;}

    #title {font-size:20px;font-weight:bold;}

    #overview{height:425px;width:750px;border:0px solid red;}

</style>
{% endblock mycss %}

{% block content %}
<h1>About</h1>
<p>troveTaste is an experiment about digital archives overview. It uses the Trove API, the API of the big archive of the National Library of Australia.</p>
<p>It contents almost 250Milion items, grouped in 9 categories:</p>
<ul>
<li>pictures: 4903410</li> 
<li>maps: 389341</li>
<li>books: 17428770</li>
<li>musics: 2553743</li>
<li>peoples: 913785</li>
<li>newspapers: 78533033</li>
<li>articles: 142458865</li> 
<li>lists: 19429</li>
<li>collections: 53215</li>
<li>Trove Total Records: 247732527</li> 
</ul>
<p>troveTaste is developed by Jaume Nualart as part of the PhD in COmmunication in the University of Canberra (DES2012-JAN2013).</p>

<h2>How it works? WHat it does?</h2>
<p>...</p>

{% endblock content %}
