{% extends "trove_base.html" %}

{% block title %}:: TROVE TASTE ::{% endblock %}

{% block myjs %}
<script type="text/javascript">
    function draw(data) {
        var fill = d3.scale.category10();
        var w = 960; //canvas width
        var h = 120; //canvas height
        var deg = Math.PI/180;
        var arc = d3.svg.arc()
                .startAngle(-90*deg)

                .endAngle(90*deg)
                .innerRadius(0)
                .outerRadius(function(d) { return (d.r/2);})

        var vis = d3.select("#chart").append("svg")
                .data(data)
                .attr("width", w)
                .attr("height", h)
                .append("g")

        var g;
        g = vis.selectAll("g")
                .data(data)
                .enter().append("g")
                .attr("class", "arc")
                .attr("transform", function(d) { return "translate(" + d.x + "," + h/2 + ")";})

        g.append("path")
                .style("fill", function(d, i) { return d.color; })
                .style("opacity", 1)
                .attr("d", arc);
    }

    function anim(id,top, left ){
        $(id).animate(
                {
                    top:top,
                    left: left
                }, 1000 );
    };
    function anim2(id,top, left ){
        $(id).animate(
                {
                    top:top,
                    left: left,
                    width: "45px",
                    //opacity: 0.4,
                    //marginLeft: "0.6in",
                    fontSize: "8px"
                    //borderWidth: "10px"
                }, 1000 );
    };
    function recolocation() {
        anim2("#num-newspaper",50,25);
        anim2("#num-article",50,95);
        anim2("#num-book",50,165);
        anim2("#num-picture",50,235);
        anim2("#num-music",50,305);
        anim2("#num-people",50,375);
        anim2("#num-map",50,445);
        anim2("#num-collection",50,515);
        anim2("#num-list",50,585);
        anim("#total-records",100,25);
        anim("#search",110,260);
        //anim2("#waiting",100,460)
        $("#result").css("display","block").css("position", "absolute").css("top", "135px").css("left", "10");
    }

    $(document).ready(function(){

        // Animation functions: initial colocation
        anim("#num-map",75,175);
        anim("#num-book",175,75);
        anim("#num-music",280,75);
        anim("#num-people",375,125);
        anim("#num-newspaper",400,310);
        anim("#num-article",75,450);
        anim("#num-list",375,475);
        anim("#num-collection",175,575);
        anim("#num-picture",280,575);
        anim("#total-records",280,275);
        anim("#search",170,285);

        // Calling JSON results
        //$("#do").bind('click', function () {
        $("#query").click(function() {
            if ($("#query").val() == 'type here') {
                $("#query").val('');
            }
        });
        $("#query").keypress(function(event) {
            if (event.which == 13) {
                $('#balls').html('<div id="chart"><div id="D3line"></div></div>');
                $("#waiting").css("display", "block");
                var query = $("#query").val();
		// APACHE WSGI
                //$.getJSON("/trove/test/"+query+"/", function(data) {
		// Django dev server

                $.getJSON("test/"+query+"/", function(data) {
                    alert("coming: "+data.length+" items");
                    $("#waiting").css("display", "none");
                    recolocation();
                    draw(data);
                });

                $.get("comparing/"+query+"/", function(data1) {
                    alert("Comparing...");
                    //$("#waiting").css("display", "none");
                    $("#comparing").html(data1);
                });
            }
        });
    });
</script>
{% endblock myjs %}

{% block mycss %}
<style type="text/css">
    html {font-family: "DejaVu Sans",Verdana,serif;}
    html {background-color: #000;color: #000000;font-weight: normal;}
    a {color:#fff;marg}

    #D3line {background-color: #fff;}
    #search {position:absolute;z-index:20;width:265px;border:0px solid red;}
    #result {display:none;float:left;border:0px solid red;}
    #title {font-size:20px;font-weight:bold;}

    /* Fix colors for each zone Taken from d3.scale.category10() */
    #num-map {background-color:#1f77b4;}
    #num-book {background-color:#d62728;}
    #num-music {background-color:#9467bd;}
    #num-people {background-color:#8c564b;}
    #num-newspaper {background-color:#2ca02c;}
    #num-article {background-color:#ff7f0e;}
    #num-list {background-color:#e377c2;}
    #num-collection {background-color:#17becf;}
    #num-picture {background-color:#bcbd22;}
    #total-records {background-color:#7f7f7f;}


    #overview{height:425px;width:750px;border:0px solid red;}
    .all-zones, .zone {position:absolute;top:-50px;color:#fff;border: 0px solid red;padding:10px;margin:1px;text-align:center;}
    .all-zones {width:175px;}
    .zone {width:100px;}
    #total-records {;top:0;left:0;}

    /* Some round corners */
    #query, .all-zones, .zone {
        border-radius: 34px;
        -moz-border-radius: 34px;
        -webkit-border-radius: 34px;
        border: 0px solid #800000;
    }

    #query {
        height:30px;
        width:175px;
        font-size:24px;
        color: grey;
        padding:5px;
    }

    #waiting {
        position:absolute;
        top: 217px;
        left: 340px;
        width:60px;
        height:60px;
        display:none;
        background: url('http://localhost/trove_media/static/small_white_ajax_loader.gif');
        z-index:20;
    }
    #chart {
        height:90px;
    }
    #balls {
        position:relative;
        top:0px;
        left:0px;
        width:1000px;
        height:120px;
        border:0px solid green;
        /*overflow:scroll;*/
    }
    #D3line {
        position:relative;
        z-index:0;
        top:83px;
        left:0px;
        width:1000px;
        height:24px;
        background: url('http://localhost/trove_media/static/myline.png');
    }
    #comparing {
        font: 20px sans-serif;
        color:white;
        border: 1px solid red;
    }
    #comparing tr td {
        border: 1px solid red;
    }

</style>
{% endblock mycss %}

{% block content %}
    <div id="overview">
        <div id="total-records" class="all-zones">Trove Total Records<br /><b>{{ troveTotalRecords }}</b></div>
        {% for tt, value in troveTotals.items %}
        <div id="num-{{tt|safe}}" class="zone">
            {{tt|safe}}s<br />{{ value }}
        </div>
    </div>
    {% endfor %}

    <!--
    <div id="interaction">
    </div>
    -->

    <div id="search">
        {% csrf_token %}
        <input type="text" name="query" id="query" value="type here"/>
        <!--div id="do" style="color:white;">do</div>-->
    </div>
    <div id="waiting"></div>
    <div id="result">
        <div id="balls">
            <div id="chart">
                <div id="D3line"></div>
            </div>
        </div>
    </div>

    <div id="comparing">
    </div>
{% endblock content %}
