<!DOCTYPE html>
<html>
<head>
    <title>my trove testing page</title>
    <style type="text/css">
        td {border:1px solid #000000;padding:5px;}
    </style>
</head>
<body>
<h3>Trove overview</h3>
<p>Trove Total lRecords:&nbsp;<b>{{ troveTotalRecords }}</b></p>
<hr />
<h1>Form</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="/get" method="GET">
    {% csrf_token %}
    <label for="query">Trove query</label> <input type="text" name="query" id="query" value="" /> <input type="submit" value="do" />
</form>
<hr />
<p>The query sent was: <strong>{{ query }}</strong></p>
{{ html_out|safe }}
<hr />
<table>
    <tr>
        <td><td>AAA</td><td>AAA</td><td>AAA</td></td>
        <td>BBB</td>
        <td>CCC</td>
    </tr>
</table>
</body>
</html>